:root{
  --light-yellow: #F7DF94;
  --light-grey: #F2F2F2;
  --grey: #828282;
  --black: #333333;
  --white: #FFFFFF;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  position: relative;
  padding: 2rem 6.25rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.random-btn{
  position: absolute;
  top: 32px;
  right: 100px;
  padding: 4px 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--white);
  color: var(--black);
  border: none;
  transition: 0.3s background-color ease-out, 0.3s color ease-out;
}

.quotes-wrapper{
  padding-block: 48px 64px;
  max-width: 614px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.quote-card{
  position: relative;
}

.quote-card::after{
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 8px;
  height: 100%;
  background-color: var(--light-yellow);
}

.quote-card > p{
  font-size: 32px;
  font-weight: 500;
}

.author-card{
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 640px;
  padding: 40px 24px;
  color: var(--black);
  transition: 0.3s background-color ease-out, 0.3s color ease-out;
}

.author-card:hover,
.random-btn:hover{
  background-color: var(--black);
  color: var(--light-grey);
}

.author-card .material-icons{
  font-size: 38px;
}

.author-card .content{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.author-card .content > p{
  color: var(--grey);
}

footer{
  position: absolute;
  bottom: 24px;
  color: var(--grey);
}

footer > a{
  color: var(--black);
}